

<section id = "secTodoApp">

	<div class="container">


		<div class="jumbotron text-center">
			<h1>Ammount of things you have to do is: <span class="label label-info">{{todos.length}}</span></h1>
			<p>My tasklist</p>
		</div>


		<div id="todo-list" class="row">




				<div class="checkbox" ng-repeat="todo in todos">
                    <table class="table table-bordered">
                        <tr>
					<td><input type="text" name="ibTodo" ng-model= "todo.text" value="{{todo.text}}"
						   ng-class="{'doneClass': todo.done, 'notDoneClass': !todo.done }">
                    </td>
                        </tr>

<tr><td>


					<button class="btn btn-danger  pull-left" ng-click="deleteTodo(todo.id)">
						<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
						</button>


						<button class="btn btn-primary pull-right" ng-click="editTodo(todo.id, todo.text, todo.done)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                   	</button>
                    </td></tr>
                        <tr><td>
                            <input type="checkbox" class=" center-block" id="check" ng-model="todo.done">
                            <p id="lab"> Check if you done</p>
                        </td></tr>
                        </tbody>
                    </table>

				</div>


			</div>
    </div>


		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				
				<form name="fmCreateTodo" novalidate>
					
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Input your task to do "
						ng-model="formData.text" ng-required="true">
					</div>


					<button type="submit" class="btn btn-primary btn-lg" ng-disabled="fmCreateTodo.$invalid" 
							ng-click="createTodo()">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						Add
					</button>
				</form>

			</div>
		</div>

	</div>

</section>